html,
body {
  background-color: #000;
  color: #fff;
}

* {
  box-sizing: border-box;
}

.button {
  /* 字体相关 */

  color: #fff;
  text-decoration: none;
  text-align: center;
  /* 布局相关 */

  /* 外边距: 上下0，左右自动 */
  margin: 0 auto;
  /* 给它一个两百像素的宽 */
  width: 200px;
  /*  */
  display: block;
  /* 位置相对 */
  position: relative;
  /* 距离上边50个单位 */
  top: 50vh;

  /* 背景颜色 */
  background-image: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  );
  /* 圆角更好看 */
  border-radius: 6px;

  overflow: hidden;
}

.button span {
  /* 最为关键一条：span 改为block, 否则下面的 margin padding 不生效*/
  display: block;

  /* 要要设置外边距 因前面border-box, 会与a元素重合 */
  margin: 3px;
  padding: 12px 0;

  /* 也来个圆角 */
  border-radius: 3px;

  /* 比较关键一条：背景设置为黑色 */
  background: #000;
  /* 字体相关 */
  padding: 12px;
}

/* 定义一个关键帧动画, background-position 属性*/
@keyframes play {
  0% {
    background-position: 00px;
  }
  25% {
    background-position: -150px;
  }
  50% {
    background-position: -300px;
  }
  75% {
    background-position: -150px;
  }
  100% {
    background-position: 0px;
  }
}

/* 当鼠标悬停在.button类元素上时，开启动画 */
.button:hover {
  animation: play 2s ease-in infinite;
}
